:host {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.social-bar {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 14px 38px;
  background-color: #f6f4ee; 
  border-top: 1px solid #99a1af;
  border-right: 1px solid #99a1af;
  border-top-right-radius: 24px;
  
  .icon-link {
    display: block;
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
    
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
    
    &:hover {
      transform: translateY(-3px);
    }
  }
}